* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.choice {
  background-color: #0F3475;
  margin: 0;
  padding-top: 100px;
  position: fixed;
  width: 30vh;
  height: 100vh;
  background-size: cover;
  box-shadow: 0 0 5px 2px rgb(4, 122, 151);
}
.choice__title {
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding-left: 25px;
  text-shadow: 0 1px 2px black;
}
.choice__menu {
  margin-top: 40px;
}
.choice__menu__title {
  margin-bottom: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.choice__menu__container {
  display: flex;
  flex-direction: column;
}
.choice__menu__item {
  padding-top: 10px;
  padding-left: 25px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  color: rgb(255, 255, 255);
  height: 70px;
  text-align: start;
  transition: 0.2s;
}
.choice__menu__item:hover {
  background-color: rgb(2, 141, 175);
  color: white;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 5vh;
  height: 7vh;
  background-color: #0d2f69;
}

.search {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 300px;
  height: 30px;
}

.programs-link {
  padding-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  color: white;
  position: absolute;
  left: 70%;
  top: 0;
}

.benefits-link {
  padding-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  color: white;
  position: absolute;
  left: 80%;
  top: 0;
}

.auth-link {
  padding-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  color: white;
  position: absolute;
  left: 90%;
  top: 0;
}

main {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  padding-left: 35vh;
}

.benefits {
  margin-bottom: 30px;
}
.benefits__title {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-weight: bold;
  color: #0F3475;
  text-shadow: 0 1px 2px black;
}
.benefits__container {
  margin-top: 10px;
  height: 250px;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.benefits__item {
  padding: 20px;
  background-color: #0F3475;
  gap: 10px;
  width: 300px;
  height: 120px;
  border-radius: 10px;
}
.benefits__item__title {
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}
.benefits__item__icon {
  width: 60px;
  height: 50px;
  border-radius: 50px;
}
.benefits__item:hover {
  transition: 0.2s;
  box-shadow: 0 0 5px 5px rgb(134, 131, 131);
}
.benefits__item__subtitle {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  color: #ffffff;
  font-weight: 100;
}

.programs {
  background-size: cover;
  padding: 20px;
  margin-top: 40px;
  width: 77vw;
  border-radius: 10px;
  background-color: white;
}
.programs__title {
  font-size: 40px;
  color: #0F3475;
  grid-area: title;
  text-shadow: 0 1px 2px black;
  margin-top: 50px;
  font-weight: bold;
}
.programs__container {
  display: flex;
  justify-content: space-evenly;
}
.programs__item {
  overflow: hidden;
  display: grid;
  grid-template-areas: "img" "title" "description" "buy";
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px;
  width: 350px;
  height: 400px;
}
.programs__item--img {
  grid-area: img;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.programs__item--title {
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  color: #0F3475;
  text-shadow: 0 1px 2px black;
  grid-area: title;
}
.programs__item--description {
  grid-area: description;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  color: #0F3475;
  text-shadow: 0 1px 2px black;
}
.programs__item--buy {
  grid-area: buy;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  background-color: #0F3475;
  color: white;
  text-shadow: 0 1px 2px black;
}
.programs__item--buy:hover {
  transition: 0.2s;
  color: #0F3475;
  background-color: white;
}

.res {
  height: 250px;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.profile {
  margin: auto;
  padding-top: 20px;
  width: 50vw;
  height: 100vh;
}
.profile__title {
  position: fixed;
  text-shadow: 0 1px 2px rgb(49, 49, 49);
  color: #0F3475;
}
.profile__items {
  position: sticky;
  display: block;
  top: 150px;
}
.profile__items--link {
  width: 20%;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  color: black;
  text-shadow: 0 1px 2px black;
  color: #0F3475;
}
.profile__items--link:hover {
  background-color: rgb(86, 142, 216);
  color: white;
  transition: 0.3s;
}
.profile__content__about {
  height: 50vh;
}
.profile__content--name {
  text-shadow: 0 1px 2px black;
  color: #0F3475;
}
.profile__content--count {
  text-shadow: 0 1px 2px black;
  color: #0F3475;
}
.profile__content--chosen {
  text-shadow: 0 1px 2px black;
  color: #0F3475;
}
.profile__content--img {
  width: 50%;
  margin: auto;
}
.profile__content__benefits {
  height: 50vh;
}

.form {
  margin: auto;
  margin-top: 10vh;
  width: 40vw;
  height: 50vh;
  align-items: center;
  padding: 10vh;
  background-color: rgb(0, 204, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px 6px rgb(1, 127, 158);
}
.form__container {
  margin: auto;
  width: 300px;
}
.form__lable {
  height: 200px;
  font-size: 20px;
  color: white;
  text-shadow: 0 1px 2px black;
}

.submit {
  height: 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: block;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 204, 255);
  transition: 0.2s;
  border: none;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
}
.submit:hover {
  background-color: rgb(4, 158, 197);
  color: rgb(255, 255, 255);
}

.userName {
  color: rgb(0, 204, 255);
  padding-left: 10px;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  text-shadow: 0 1px 1px black;
  font-weight: 100;
  font-size: 20px;
}

.password {
  font-size: 20px;
  color: rgb(0, 204, 255);
  padding-left: 10px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  text-shadow: 0 1px 1px black;
  font-weight: 100;
}

.title {
  padding: 0;
  font-size: 25px;
  text-shadow: 0 1px 2px black;
  color: white;
}

.auth-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}/*# sourceMappingURL=style.css.map */